<div class="page-header">
  <h3>Equipment #<%= @equipment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @equipment.title %></dd>

      <dt>Description</dt>
      <dd><%= @equipment.description %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @equipment.image %>" class="img-responsive"></dd>

      <dt>Owner</dt>
      <dd>
        <% if @equipment.owner.present? %>
          <a href="/users/<%= @equipment.owner_id %>">
            <%= @equipment.owner.id %>
          </a>
        <% end %>
      </dd>

      <dt>Category</dt>
      <dd>
        <% if @equipment.category.present? %>
          <a href="/categories/<%= @equipment.category_id %>">
            <%= @equipment.category.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/equipment" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @equipment.owner %>
        <a href="/equipment/<%= @equipment.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_equipment/<%= @equipment.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Equipment has many loans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Loans
      </li>

      <% @equipment.loans.each do |loan| %>
        <li class="list-group-item">
          <a href="/loans/<%= loan.id %>">
            <%= loan.equipment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/loans/<%= loan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/loans/<%= loan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_loan/<%= loan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_loan" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for equipment_id -->
      <input type="hidden" name="equipment_id" value="<%= @equipment.id %>">

      <!-- Label and input for borrower_id -->
      <input type="hidden" name="borrower_id" value="<%= current_user.id %>">

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <input type="text" id="owner_id" name="owner_id" placeholder="Owner" class="form-control" value="">
      </div>

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          Start time
        </label>

        <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="">
      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="control-label">
          End time
        </label>

        <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="">
      </div>

      <!-- Label and input for pickupdropoff_location -->
      <div class="form-group">
        <label for="pickupdropoff_location" class="control-label">
          Pickupdropoff location
        </label>

        <input type="text" id="pickupdropoff_location" name="pickupdropoff_location" placeholder="Pickupdropoff location" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Loan
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
